.container {
    display: grid;
    grid-template-rows: 80px 40px 200px 40px;
    grid-template-columns: 200px 150px;
    gap: 5px;
}

.caixa {
    background-color: lightgray;
    border: 1px solid black;

}

#topo {
    grid-area: 1 / 1 / 2 / -1;
}

#menu {
    gr
}

#principal {

}

#secundario {

}

#rodape {

}