@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/
body{
    background-color: rgb(212, 255, 169);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(53, 107, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(53, 107, 0);
    color: white;
}

h2{
    color: rgb(111, 148, 75);
}

.basico {
    color: rgb(111, 148, 75);
    font-weight: bold;
}

.intermediario{
    color: rgb(148, 144, 75);
    font-weight: bold;
}

.avancado{
    color: rgb(148, 75, 75);
    font-weight: bold;    
}

.destaque{
    background-color: rgba(229, 255, 0, 0.515);
}

