@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body{
    background-image: linear-gradient(to right, #FFCB9A, #D8B08C);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #b86f2f;
    width: 600px;
    padding: 10px;
    margin:auto;
}

h1{
    color:#0F6466 ;          
    text-align: center;
    text-shadow: 1px 1px 2px rgba(2, 13, 14, 0.69) ;
}

h2{
    color:#2C3532 ;
}

p{
    text-align: justify;
}