@charset "UFT-8";


        body{
            background-color: rgb(244, 205, 133);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px; 
        }
        h1{
            color: rgb(78, 49, 0);
            background-color: rgb(226, 159, 43);
        }
        h2{
            color: darkgreen;
        }
        p{
            text-align: center;
        }
    